@import "../../styles/variables.scss";

.addBook {
  .form {
    display: flex;
    flex-direction: column;
    input {
      width: 200px;
      height: 20px;
    }
    input:focus {
      border: 2px solid $green;
    }
    select {
      width: 204px;
      height: 26px;
    }
    select:focus {
      border: 2px solid $green;
    }
  }
}
